*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: inherit;
    color: inherit;
    list-style: none;
}

:root{
    --bg-color:#222327;
    --text-color:#fff;
    --main-color:#29fd53;
}

body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 85%;
    top:0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all 0.5s ease;
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    color: var(--main-color);
    font-size: 2rem;
    margin-inline-end: 0.5rem;
}

.logo span{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar{
    display: flex;
    gap: 3rem;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: var(--main-color);
    font-size: 1.5rem;
    margin-inline-end: 0.5rem;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
